# Configuration Serveur
PORT=3000

# Configuration Base de données PostgreSQL (RDS cible)
DB_USER=postgres
DB_HOST=localhost
DB_NAME=librarydb
DB_PASSWORD=secret
DB_PORT=5432

# Configuration AWS S3
AWS_REGION=eu-west-3
AWS_ACCESS_KEY_ID=ton_access_key
AWS_SECRET_ACCESS_KEY=ton_secret_key
AWS_S3_BUCKET_NAME=ton_nom_de_bucket
